<!doctype html>
<html>
	<head>
		{{> partials/head }}
	</head>
	<body>
		<main>
			{{> sections/index }}
			{{> sections/about }}
			{{> sections/resume }}
			{{> sections/contact }}
			{{> sections/projects }}
		</main>
		{{> partials/menu }}
	</body>
	<script src="scripts/main.js"></script>
</html>