@font-face
	font-family: 'light'
	src: url('../assets/fonts/100LilBunny.eot')
	src: url('../assets/fonts/100LilBunny.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/100LilBunny.woff') format('woff'),url('../assets/fonts/100LilBunny.ttf') format('truetype')

@font-face
	font-family: 'light-italic'
	src: url('../assets/fonts/100LilBunnyItalic.eot')
	src: url('../assets/fonts/100LilBunnyItalic.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/100LilBunnyItalic.woff') format('woff'),url('../assets/fonts/100LilBunnyItalic.ttf') format('truetype')

@font-face
	font-family: 'regular'
	src: url('../assets/fonts/500Dudette.eot')
	src: url('../assets/fonts/500Dudette.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/500Dudette.woff') format('woff'),url('../assets/fonts/500Dudette.ttf') format('truetype')

@font-face
	font-family: 'regular-italic'
	src: url('../assets/fonts/400LilDudeItalic.eot')
	src: url('../assets/fonts/400LilDudeItalic.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/400LilDudeItalic.woff') format('woff'),url('../assets/fonts/400LilDudeItalic.ttf') format('truetype')

@font-face 
	font-family: 'bold'
	src: url('../assets/fonts/900Dude.eot')
	src: url('../assets/fonts/900Dude.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/900Dude.woff') format('woff'),url('../assets/fonts/900Dude.ttf') format('truetype')

@font-face 
	font-family: 'bold-italic'
	src: url('../assets/fonts/900DudeItalic.eot')
	src: url('../assets/fonts/900DudeItalic.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/900DudeItalic.woff') format('woff'),url('../assets/fonts/900DudeItalic.ttf') format('truetype')

$regular-font: "regular" , Helvetica , sans-serif
$regular-italic-font: "regular-italic" , Helvetica , sans-serif

$light-font: "light" , Helvetica , sans-serif
$light-italic-font: "light-italic" , Helvetica , sans-serif

$bold-font: "bold" , Helvetica , sans-serif
$bold-italic-font: "bold-italic" , Helvetica , sans-serif

*
	-webkit-font-smoothing: antialiased
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px
	text-rendering: optimizeLegibility