*
	margin: 0
	padding: 0


html, body
	background: $white
	color: $black
	display: block

html
	position: relative
	overflow-x: hidden
	overflow-y: scroll
	bottom: 0
	right: 0
	left: 0
	top: 0

body
	position: relative
	z-index: 1
	width: 100%
	height: auto
	left: 0
	top: 0

html.is-touch
	position: fixed
	overflow: hidden

	body
		position: absolute
		overflow-x: hidden
		overflow-y: scroll
		height: 100%

main
	transition: transform 0.35s cubic-bezier(.45,0,.26,1)
	display: block
	position: relative
	width: 100%
	height: auto
	z-index: 1

.resizing *
	transition: none !important