*
	margin: 0
	padding: 0
	font-size: inherit
	line-height: inherit


html, body
	background: $white
	color: $black
	display: block
	font-size: 0
	line-height: 0

html
	-webkit-overflow-scrolling: touch
	position: relative
	overflow-x: hidden
	overflow-y: scroll
	bottom: 0
	right: 0
	left: 0
	top: 0

body
	position: relative
	z-index: 1
	width: 100%
	height: auto
	left: 0
	top: 0

html.is-touch
	position: fixed
	overflow: hidden

	body
		position: fixed
		height: 100%
		width: 100%
		left: 0
		top: 0

	main
		position: absolute
		overflow-x: hidden
		overflow-y: scroll
		-webkit-overflow-scrolling: touch
		height: 100%
		width: 100%
		display: block
		left: 0
		top: 0

main
	transition: transform 0.35s cubic-bezier(.45,0,.26,1)
	display: block
	position: relative
	width: 100%
	height: auto
	z-index: 1

.resizing *
	transition: none !important

.scroller
	position: relative