h1, h2, h3, h4, p
	color: inherit
	position: relative
	line-height: 105%

	a
		background: none
		position: relative
		text-decoration: none
		color: inherit

		&:hover
			color: $white
			box-shadow: 0 -1000px 0 0 $black inset
h1, h2
	@include contain( font-size, 10vw, 32px, 128px )
	text-transform: uppercase
	letter-spacing: 0.1em

h1
	font-family: $bold-font

	a
		font-family: $bold-italic-font

h2
	font-family: $light-font

	a
		font-family: $light-italic-font

h3
	@include contain( font-size, 6vw, 18px, 64px )
	font-family: $regular-font
	letter-spacing: 0.05em

	a
		font-family: $regular-italic-font

h4, p
	@include contain( font-size, 4vw, 11px, 21px )

h4
	font-family: $light-font
	text-transform: uppercase
	letter-spacing: 0.05em

	a
		font-family: $light-italic-font

p
	letter-spacing: 0.025em
	font-family: $regular-font

	a
		font-family: $regular-italic-font