h1, h2, h3, h4, h5, p
	color: inherit
	position: relative
	line-height: 150%
	z-index: 3

	a
		background: none
		position: relative
		text-decoration: none
		color: inherit
		display: inline-block

		box-shadow: 0 -2px 0 0 $black inset

		&:hover
			color: $white
			box-shadow: 0 -1000px 0 0 $black inset
			margin: 0 -3px
			padding: 0 3px

h1
	@include contain( font-size, 8vw, 32px, 128px )
	text-transform: uppercase
	letter-spacing: 0.1em
	line-height: 100%

	& + h1, & + h2, & + h3, & + h4, & + h5, & + p
		@include contain( padding-top, 4.25vw, 16px, 64px )

	font-family: $bold-font

h2, h3
	@include contain( font-size, 6vw, 18px, 38px )
	letter-spacing: 0.05em
	line-height: 125%

h2
	font-family: $light-font

	& + h1, & + h2, & + h3, & + h4, & + h5, & + p
		@include contain( padding-top, 3vw, 9px, 19px )

h3
	font-family: $regular-font
	line-height: 130%

	& + h1, & + h2, & + h3, & + h4, & + h5, & + p
		@include contain( padding-top, 3vw, 9px, 19px )

h4, h5
	@include contain( font-size, 4.5vw, 16px, 21px )

h4
	font-family: $bold-font
	letter-spacing: 0.075em
	text-transform: uppercase

	& + h1, & + h2, & + h3, & + h4, & + h5, & + p
		@include contain( padding-top, 2vw, 7px, 9px )

h5
	font-family: $light-font
	letter-spacing: 0.05em

	& + h1, & + h2, & + h3, & + h4, & + h5, & + p
		@include contain( padding-top, 2vw, 7px, 9px )

p
	@include contain( font-size, 1.35vw, 13px, 18px )
	letter-spacing: 0.01em
	font-family: $regular-font

	@media screen and ( max-width: 900px )
		@include contain( font-size, 3vw, 13px, 18px )

	& + h1, & + h2, & + h3, & + h4, & + h5, & + p
		@include contain( padding-top, 2vw, 7px, 9px )

.sub
	font-size: 0.5em
	text-transform: uppercase
	line-height: 125%

span.hanging
	position: absolute
	transform: translate( -100%, 0 )