{{#index}}
<section class="index" data-route="{{slug}}">
	<div class="full-height block black-text transparent-background">
		<div class="vertical-center-container">
			<h1>Hello!</h1>
			<h4>My name is Alex Bergin. I'm a web developer and designer living in Los Angeles.</h4>
		</div>
	</div><div class="column black-text white-background">
		<p>My name is Alex Bergin. I'm a web developer and designer living in Los Angeles.</p>
	</div><div class="column white-text red-background">
		<p>My name is Alex Bergin. I'm a web developer and designer living in Los Angeles.</p><p>My name is Alex Bergin. I'm a web developer and designer living in Los Angeles.</p>
	</div>
</section>
{{/index}}