{{#index}}
<section class="index not-visible" data-route="{{slug}}">
	<div class="block full-height full-width block black-text transparent-background">
		<div class="vertical-center-container">
			<h1>Hello!</h1>
			<h5>My name is Alex Bergin. I'm a web developer and designer living in Los Angeles.</h5>
		</div>
		<div class="scroll-indicator"></div>
	</div><div class="block full-width no-padding transparent-background">
		<div class="block green-background white-text">
			<h2>Whoa greeeen block</h2>
		</div>
	</div><div class="block full-width no-padding transparent-background red-right-background white-left-background">
		<div class="column black-text white-background">
			<p>My name is Alex Bergin. I'm a web developer and designer living in Los Angeles.</p>
		</div><div class="column white-text red-background no-padding">
			<div 
				class="image-element" 
				data-src="https://unsplash.it/1200/600" 
				data-width="1200" data-height="600"
			></div>
		</div>
	</div><div class="block full-width no-padding transparent-background">
		<div class="block transparent-background"></div><br />
		<div class="block transparent-background black-text">
			<h2>check out this edgy block with lots of space</h2>
		</div><br />
		<div class="block transparent-background"></div>
	</div><div class="block full-width no-padding transparent-background yellow-right-background green-left-background">
		<div class="column white-text green-background no-padding">
			<div 
				class="image-element" 
				data-src="https://unsplash.it/1200/900" 
				data-width="1200" data-height="900"
			></div>
		</div><div class="column black-text yellow-background fill-height">
			<h3>I make websites and some other shit</h3>
			<h5>why don't you hire me?</h5>
		</div>
	</div><div class="block full-width no-padding transparent-background white-left-background white-right-background">
		<div class="column black-text white-background">
			<p>My name is Alex Bergin. I'm a web developer and designer living in Los Angeles.</p>
		</div><div class="column black-text white-background">
			<p>Nam efficitur non diam in pulvinar. Nam sit amet rhoncus elit, ac consequat sem. Ut iaculis mauris ut tortor posuere facilisis. Duis porta mauris et tincidunt eleifend.</p>
			<h4>Fusce tempor ornare orci?</h4>
			<p>ut feugiat nunc elementum at. Fusce luctus tortor fermentum, volutpat eros sit amet, fringilla lacus. Aliquam quis purus sed felis eleifend consequat. Duis ipsum nisi, posuere non nisi ut, vulputate suscipit erat. Nunc euismod ultricies eros id varius. In varius eros sem, tempor varius libero dapibus id.</p>
		</div>
	</div><div class="block full-width no-padding transparent-background">
		<div class="block no-padding yellow-background">
			<div 
				class="image-element" 
				data-src="https://unsplash.it/1800/500" 
				data-width="1800" data-height="500"
			></div>
		</div>
	</div><div class="block full-width no-padding transparent-background">
		<div class="block blue-background white-text">
			<h2>Nice, this should look like a good spot</h2>
		</div>
	</div>
</section>
{{/index}}