{{#projects}}
<section class="project not-visible" data-route="{{slug}}">
	<div class="full-height full-width block black-text transparent-background">
		<div class="vertical-center-container">
			<h1>{{{projectName}}}</h1>
		</div>
	</div>
</section>
{{/projects}}