section
	position: absolute
	overflow-x: hidden
	transition: transform 0.25s ease-in-out
	transform: translate( -100%, 0 )
	height: 100%
	width: 100%
	left: 0
	top: 0

	&.not-visible *
		display: none !important

	&.visible
		transform: translate( 0, 0 )

		& ~ section
			transform: translate( 100%, 0 )

	.full-height
		min-height: 100vh
		background: $yellow
		color: $black